@model ProjeHasarTakip.Models.Personel.Personeller

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button type="button" class="btn btn-label-danger text-nowrap d-inline-flex position-relative">
    Bu Personel Bilgilerini Silmek İstediğinize Eminmisiniz ?
    <span class="position-absolute top-0 start-100 translate-middle badge badge-dot border border-2 p-2 bg-danger"></span>
</button>
<div>
    <hr />
    <div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
        <!-- User Card -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="user-avatar-section">
                    <div class="d-flex align-items-center flex-column">
                        <img class="img-fluid rounded mb-3 mt-4" src="@Html.DisplayFor(model => model.PersonelResim)" height="120" width="120" alt="User avatar">
                        <div class="user-info text-center">
                            <h4>@Html.DisplayFor(model => model.AdSoyad)</h4>
                            <span class="badge bg-label-danger rounded-pill">@Html.DisplayFor(model => model.Gorev)</span>
                        </div>
                    </div>
                </div>

                <h5 class="pb-3 border-bottom mb-3">Personel Detayları:</h5>
                <div class="info-container">
                    <ul class="list-unstyled mb-4">
                        <li class="mb-3">
                            <span class="fw-medium text-heading me-2">Ad Soyad:</span>
                            <span>@Html.DisplayFor(model => model.AdSoyad)</span>
                        </li>
                        <li class="mb-3">
                            <span class="fw-medium text-heading me-2">Email:</span>
                            <span>@Html.DisplayFor(model => model.Email)</span>
                        </li>
                        <li class="mb-3">
                            <span class="fw-medium text-heading me-2">Sicil:</span>
                            <span class="badge bg-label-success rounded-pill">@Html.DisplayFor(model => model.Sicil)</span>
                        </li>
                        <li class="mb-3">
                            <span class="fw-medium text-heading me-2">Yetki:</span>
                            <span>@Html.DisplayFor(model => model.Yetki)</span>
                        </li>
                        <li class="mb-3">
                            <span class="fw-medium text-heading me-2">Görevi:</span>
                            <span>@Html.DisplayFor(model => model.Gorev)</span>
                        </li>
                        <li class="mb-3">
                            <span class="fw-medium text-heading me-2">Telefon:</span>
                            <span>@Html.DisplayFor(model => model.Telefon)</span>
                        </li>
                        <li class="mb-3">
                            <span class="fw-medium text-heading me-2">Yaka:</span>
                            <span class="badge bg-label-info rounded-pill">@Html.DisplayFor(model => model.Yaka)</span>
                        </li>
                        <li class="mb-3">
                            <span class="fw-medium text-heading me-2">Şifre:</span>
                            <span>@Html.DisplayFor(model => model.Sifre)</span>
                        </li>
                    </ul>
                    
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                <div class="mt-4">
                    <button type="submit" class="btn btn-danger waves-effect waves-light">Sil</button>
                    @*<input type="submit" value="Sil" class="btn btn-danger suspend-user waves-effect" />*@ |
                    @Html.ActionLink("Vazgeç", "Index", null, new { @class = "btn btn-secondary waves-effect waves-light" })
                </div>
                        }

                    
                </div>
            </div>
        </div>
        <!-- /User Card -->
        <!-- Plan Card -->
        <!-- /Plan Card -->
    </div>
</div>

 
