@model ProjeHasarTakip.Models.Personel.Personeller

@{
    ViewBag.Title = "Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Edit", "Personellers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PersonelId)
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">

            <div class="row fv-plugins-icon-container">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <h4 class="card-header">@ViewBag.Title</h4>
                        <!-- Account -->
                        <div class="card-body">
                            <div class="d-flex align-items-start align-items-sm-center gap-4">
                                <img src="@Model.PersonelResim" alt="PersonelResim" class="d-block w-px-170 h-px-170 rounded" id="PersonelResim">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PersonelResim, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-9">
                                            <input type="file" required name="PersonelResim" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-body pt-2 mt-1">
                            <form id="formAccountSettings" method="POST" onsubmit="return false" class="fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">

                                <div class="row mt-2 gy-4">
                                    <div class="col-md-6 fv-plugins-icon-container">
                                        <div class="form-floating form-floating-outline">
                                            <input class="form-control" type="text" id="AdSoyad" name="AdSoyad" value="@Model.AdSoyad" autofocus="">
                                            @Html.LabelFor(model => model.AdSoyad, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-floating form-floating-outline">
                                            <input class="form-control" type="text" id="Email" name="Email" value="@Model.Email" placeholder="john.doe@example.com">
                                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group input-group-merge">
                                            <div class="form-floating form-floating-outline">
                                                <input type="text" id="Telefon" name="Telefon" value="@Model.Telefon" class="form-control" placeholder="535 555 0111">
                                                @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
                                            </div>
                                            <span class="input-group-text">TR (+90)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating form-floating-outline">
                                            <input type="password" class="form-control" id="Sifre" name="Sifre"value="@Model.Sifre" placeholder="Sifre">
                                            @Html.LabelFor(model => model.Sifre, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating form-floating-outline">
                                            <input class="form-control" type="text" id="Sicil" name="Sicil" value="@Model.Sicil" placeholder="1234" maxlength="8">
                                            @Html.LabelFor(model => model.Sicil, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating form-floating-outline">
                                            <input type="text" class="form-control" id="Yaka" name="Yaka" value="@Model.Yaka"placeholder="1234" maxlength="8">
                                            @Html.LabelFor(model => model.Yaka, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating form-floating-outline">
                                            <select name="Yetki" class="form-control" required>
                                                <option>@Model.Yetki</option>
                                                <option value="Personel">Personel</option>
                                                <option value="Yönetim">Yönetim</option>
                                                <option value="ÜstYönetim">ÜstYönetim</option>
                                            </select>
                                            @Html.LabelFor(model => model.Yetki, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-floating form-floating-outline">
                                            <select name="Gorev" class="form-control" required>
                                                <option>@Model.Gorev</option>
                                                <option value="Sürücü">Sürücü</option>
                                                <option value="BaşMemur">BaşMemur</option>
                                                <option value="Hasar Takip Sor">Hasar Takip Sor</option>
                                            </select>
                                            @Html.LabelFor(model => model.Gorev, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                    </div>



                                </div>
                                <div class="mt-4">
                                    <button type="submit" class="btn btn-primary me-2 waves-effect waves-light">Personel Güncelle</button>
                                    @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-secondary waves-effect waves-light" })

                                </div>
                                <input type="hidden">
                            </form>
                        </div>
                        <!-- /Account -->
                    </div>

                </div>
            </div>
        </div>
        <!-- / Content -->


    </div>


</div>
}



