@model IEnumerable<ProjeHasarTakip.Models.Arac.Araclar>

@{
    ViewBag.Title = "Araçlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h5 class="card-header">
        @Html.ActionLink("Arac Ekle", "Create", null, new { @class = "btn btn-primary waves-effect waves-light" })
    </h5>
    <table id="AraclarTable" class="table table-hover">
        <thead>
            <tr>
                <th>Araç Kodu</th>
                <th>Araç Plaka</th>
                <th>Araç Model</th>
                <th>Araç Marka</th>
                <th>Araç Tipi</th>
                <th>Araç Durum</th>
                <th>Muayene Bitiş</th>
                <th>Araç Resim</th>
                <th>Aksiyon</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var arac in Model)
            {
                <tr>
                    <td>@arac.Arackod</td>
                    <td>@arac.AracPlaka</td>
                    <td>@arac.AracModel</td>
                    <td>@arac.AracMarka</td>
                    <td>@arac.AracTip</td>
                    <td>@arac.AracDurum</td>
                    <td>@arac.AracMuayene</td>
                    <td><img style="display: block; margin: auto;" src="@arac.AracResim" alt="" class="rounded " width="50" height="40" /></td>
                    <td>
                        <a href="/Araclars/Edit/@arac.AracId" class="mdi mdi-account-edit-outline mdi-24px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Düzenle"> </a>
                        |
                        <a href="/Araclars/Details/@arac.AracId" class="mdi mdi-card-account-details-outline mdi-24px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Detay"> </a>
                        |
                        <a href="/Araclars/Delete/@arac.AracId" class="mdi mdi-trash-can-outline mdi-24px" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Sil"> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



@section scripts {
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/ProjeTema/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#AraclarTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/tr.json',
                },
                dom: 'Blfrtip'
            });
        });

    
    </script>
}
